{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <div>
        <p>This site is to test distributed tracing using New Relic.</p>
        <p>This site is to test distributed tracing using New Relic.</p>
        <p>This site is to test distributed tracing using New Relic.</p>
        <p>This site is to test distributed tracing using New Relic.</p>
        <p>This site is to test distributed tracing using New Relic.</p>
    </div>
    <div>
        <p>---synapticcleft</p>
    </div>
{% endblock content %}