{% extends "layout.html" %}
{% block content %}
    <h1>Howdy yall</h1>
    <div>
        <p>This is my test site used specifically for testing distributed tracing</p>
        <p>I'm using <a href="https://newrelic.com/">New Relic</a> as my distributed tracing tool</p>
        <p>Please check out my <a href="https://github.com/pafable/tracing-demo/tree/master/python">repo</a> to see how this works</p>
        <b>Username: admin@example.test</b>
        <br>
        <b>Password: admin</b>
        <br>
    </div>
{% endblock content %}